Repository llmariner/model-manager, pull requests merged in 2024-11, with the labels that each got.

#155 fix(loader): fix bug in configmap
  deployments/loader/templates/configmap.yaml
Labels: bug

#154 feat(chart): productionize helm chart
  .github/workflows/ci-pre-merge.yml
  Makefile
  deployments/loader/.helmignore
  deployments/loader/Chart.yaml
  deployments/loader/README.md
  deployments/loader/templates/configmap.yaml
  deployments/loader/templates/deployment.yaml
  deployments/loader/values.schema.json
  deployments/loader/values.yaml
  deployments/server/.helmignore
  deployments/server/Chart.yaml
  deployments/server/README.md
  deployments/server/templates/deployment.yaml
  deployments/server/values.schema.json
  deployments/server/values.yaml
Labels: enhancement

#157 ci(pr-labeler): change trigger to pull_request_target
  .github/workflows/pr-labeler.yml
Labels: skip-changelog

#158 fix(chart): do not set the default value of s3.endpoinrUrl
  deployments/loader/values.schema.json
  deployments/loader/values.yaml
Labels: bug

#159 ci(make): fix git-clean-check to validate the preceding target results
  common.mk
Labels: skip-changelog

#160 fix(chart): run loader as a Job in runOnce mode
  deployments/loader/templates/deployment.yaml
Labels: bug

#161 feat(loader/server): allow to use non-adapter-based fine tuning model
  deployments/loader/values.schema.json
  deployments/loader/values.yaml
  loader/internal/config/config.go
  server/internal/server/models.go
Labels: enhancement

#162 feat(chart): add an enable option for the dependency condition
  deployments/loader/templates/_helpers.tpl
  deployments/loader/values.schema.json
  deployments/loader/values.yaml
  deployments/server/templates/_helpers.tpl
  deployments/server/values.schema.json
  deployments/server/values.yaml
Labels: enhancement

#163 feat(server): support an enable flag for the usage sender
  deployments/server/values.schema.json
  deployments/server/values.yaml
  go.mod
  go.sum
  server/cmd/run.go
Labels: enhancement

#164 feat(mod): bump up llmariner modules
  go.mod
  go.sum
Labels: enhancement

#166 fix(chart): unset the default value of `enable`
  deployments/loader/values.schema.json
  deployments/loader/values.yaml
  deployments/server/values.schema.json
  deployments/server/values.yaml
Labels: bug

#167 ci(release): add bump option
  .github/workflows/manual-release-pr.yaml
Labels: skip-changelog
