Repository llmariner/model-manager, pull requests merged in 2025-03, with the labels that each got.

#183 feat(proto): add an ollama to the model format
  api/v1/model_manager_service.pb.go
  api/v1/model_manager_service.proto
  api/v1/model_manager_service.swagger.json
  buf.lock
  dist/api/v1/model_manager_service.pb.d.ts
  dist/api/v1/model_manager_service.pb.js
  ts/api/v1/model_manager_service.pb.ts
Labels: enhancement

#182 ci(provision): add provision scripts for developments
  .gitignore
  Makefile
  hack/helm-apply-deps.sh
  hack/helm-apply-llma.sh
  hack/overwrite-llma-chart-for-test.py
  hack/overwrite-llma-chart-for-test.sh
  hack/values.yaml
  provision.mk
Labels: skip-changelog

#184 feat(loader): add ollama loader
  build/loader/Dockerfile
  deployments/loader/templates/configmap.yaml
  deployments/loader/templates/deployment.yaml
  deployments/loader/values.schema.json
  deployments/loader/values.yaml
  hack/values.yaml
  loader/cmd/run.go
  loader/internal/config/config.go
  loader/internal/loader/loader.go
  loader/internal/loader/loader_test.go
  loader/internal/loader/ollama_downloader.go
Labels: enhancement

#185 refactor: fix typo
  loader/internal/loader/loader_test.go
Labels: skip-changelog

#186 ci(Makefile): add reapply targets
  provision.mk
Labels: skip-changelog

#187 fix(loader): set a context in the huggingface model download
  loader/internal/loader/hugging_face_downloader.go
Labels: bug

#190 fix(loader): use the original model name from ollama as the modelID
  loader/internal/loader/loader.go
  loader/internal/loader/loader_test.go
Labels: bug

#192 feat(api): generate `index.js` and `index.d.ts` in the `dist` directory
  buf.lock
  dist/index.d.ts
  dist/index.js
  ts/index.ts
Labels: enhancement

#194 chore: remove the support of the BASE_ENV model
  loader/internal/config/config.go
Labels: skip-changelog

#195 feat(loader): support download from private S3 bucket
  deployments/loader/templates/configmap.yaml
  deployments/loader/values.schema.json
  deployments/loader/values.yaml
  loader/cmd/run.go
  loader/internal/config/config.go
Labels: enhancement

#199 fix: return an error if a specified model contains no valid file
  loader/internal/loader/loader.go
  loader/internal/loader/loader_test.go
Labels: bug

#198 feat: make more tweaks to S3 download config
  deployments/loader/templates/configmap.yaml
  deployments/loader/values.schema.json
  deployments/loader/values.yaml
  loader/cmd/run.go
  loader/internal/config/config.go
Labels: enhancement

#197 feat: support base model deletion
  server/internal/server/models.go
  server/internal/server/models_test.go
  server/internal/store/base_model.go
  server/internal/store/base_model_test.go
Labels: enhancement

#203 fix: Add Unscoped() to DeleteBaseModel
  server/internal/store/base_model.go
Labels: bug

#204 chore(loader): pass modes to LoadModels
  loader/cmd/run.go
  loader/internal/loader/loader.go
  loader/internal/loader/loader_test.go
Labels: skip-changelog

#205 feat: add loading_status and source_repository
  api/v1/model_manager_service.pb.go
  api/v1/model_manager_service.proto
  api/v1/model_manager_service.swagger.json
  api/v1/model_manager_service_grpc.pb.go
  buf.lock
  dist/api/v1/model_manager_service.pb.d.ts
  dist/api/v1/model_manager_service.pb.js
  loader/internal/loader/hugging_face_downloader.go
  loader/internal/loader/loader.go
  loader/internal/loader/loader_test.go
  loader/internal/loader/ollama_downloader.go
  loader/internal/loader/s3_downloader.go
  server/internal/server/models.go
  server/internal/server/models_test.go
  server/internal/store/base_model.go
  server/internal/store/base_model_test.go
  ts/api/v1/model_manager_service.pb.ts
Labels: enhancement

#206 chore: replace 'mv1' with 'v1'
  loader/cmd/run.go
  loader/internal/loader/loader.go
  loader/internal/loader/loader_test.go
Labels: skip-changelog

#207 feat(server): make GetModel and ListModes include loading models optionally
  api/v1/model_manager_service.pb.go
  api/v1/model_manager_service.pb.gw.go
  api/v1/model_manager_service.proto
  api/v1/model_manager_service.swagger.json
  dist/api/v1/model_manager_service.pb.d.ts
  server/internal/server/models.go
  server/internal/server/models_test.go
  server/internal/store/base_model.go
  ts/api/v1/model_manager_service.pb.ts
Labels: enhancement

#208 chore(loader): refactor to support multiple source repos
  loader/cmd/run.go
  loader/internal/loader/hugging_face_downloader.go
  loader/internal/loader/loader.go
  loader/internal/loader/loader_test.go
  loader/internal/loader/ollama_downloader.go
  loader/internal/loader/s3_downloader.go
Labels: skip-changelog

#209 chore: define FakeModelClient in a separate file
  loader/internal/loader/fake_model_client.go
  loader/internal/loader/loader.go
Labels: skip-changelog

#210 fix: delete HFModelRepo when a base model is deleted
  server/internal/server/models.go
  server/internal/server/models_test.go
  server/internal/store/base_model.go
  server/internal/store/hf_model_repo.go
  server/internal/store/store.go
Labels: bug

#211 chore: define helper function marshalFormats
  server/internal/store/base_model.go
Labels: skip-changelog

#214 fix: make GetBaseModelPath return NotFound when a model is not loaded
  server/internal/server/models.go
Labels: bug

#217 chore: add a manual workflow for building docker images
  .github/workflows/manual-build-and-push-image.yml
Labels: skip-changelog

#218 feat: shorten modelLoadInterval: 1m -> 30s
  deployments/loader/values.schema.json
  deployments/loader/values.yaml
Labels: enhancement

#216 feat: add the loading_failure_reason field to Model
  api/v1/model_manager_service.pb.go
  api/v1/model_manager_service.proto
  api/v1/model_manager_service.swagger.json
  dist/api/v1/model_manager_service.pb.d.ts
  server/internal/server/models.go
  server/internal/store/base_model.go
  ts/api/v1/model_manager_service.pb.ts
Labels: enhancement

#215 fix: always mount '/.ollama'
  deployments/loader/templates/deployment.yaml
Labels: bug

#213 feat(server): define CreateModel gRPC method
  api/v1/model_manager_service.pb.go
  api/v1/model_manager_service.pb.gw.go
  api/v1/model_manager_service.proto
  api/v1/model_manager_service.swagger.json
  api/v1/model_manager_service_grpc.pb.go
  dist/api/v1/model_manager_service.pb.d.ts
  dist/api/v1/model_manager_service.pb.js
  server/internal/server/models.go
  server/internal/server/models_test.go
  ts/api/v1/model_manager_service.pb.ts
Labels: enhancement

#219 chore: add more validation to source repository
  server/internal/server/models.go
Labels: skip-changelog

#212 feat: support dynamic model creation
  api/v1/model_manager_service.pb.go
  api/v1/model_manager_service.proto
  api/v1/model_manager_service.swagger.json
  api/v1/model_manager_service_grpc.pb.go
  dist/api/v1/model_manager_service.pb.d.ts
  dist/api/v1/model_manager_service.pb.js
  loader/internal/loader/fake_model_client.go
  loader/internal/loader/loader.go
  loader/internal/loader/loader_test.go
  server/internal/server/models.go
  server/internal/server/models_test.go
  server/internal/store/base_model.go
  server/internal/store/base_model_test.go
  server/internal/store/errors.go
  ts/api/v1/model_manager_service.pb.ts
Labels: enhancement

#221 fix: do not download an object at the exact model path
  loader/internal/loader/s3_downloader.go
  loader/internal/loader/s3_downloader_test.go
Labels: bug

#224 fix: make 'id' in the path include /'
  api/v1/model_manager_service.pb.go
  api/v1/model_manager_service.pb.gw.go
  api/v1/model_manager_service.proto
  dist/api/v1/model_manager_service.pb.js
  ts/api/v1/model_manager_service.pb.ts
Labels: bug

#225 chore: make ListModels sort modes by IDs
  server/internal/store/base_model.go
  server/internal/store/model.go
Labels: skip-changelog

#227 fix: remove '%q' from the logging message
  server/internal/server/models.go
Labels: bug

#228 fix: convert a model ID to a HF repo name when deleting a model
  server/internal/server/models.go
  server/internal/server/models_test.go
Labels: bug

#230 fix: fix the context passed to UpdateBaseModelLoadingStatus
  loader/internal/loader/loader.go
Labels: bug

#231 chore: validate the input ID in CreateModel
  server/internal/server/models.go
  server/internal/server/models_test.go
Labels: skip-changelog
