Repository llmariner/model-manager, pull requests merged in 2025-04, with the labels that each got.

#233 feat(server): support pagination in list models
  api/v1/model_manager_service.pb.go
  api/v1/model_manager_service.proto
  api/v1/model_manager_service.swagger.json
  dist/api/v1/model_manager_service.pb.d.ts
  server/internal/server/models.go
  server/internal/server/models_test.go
  server/internal/server/server.go
  server/internal/store/base_model.go
  server/internal/store/base_model_test.go
  server/internal/store/model.go
  server/internal/store/model_test.go
  ts/api/v1/model_manager_service.pb.ts
Labels: enhancement

#236 fix: change the format of fine-tuned models to Hugging Face
  server/internal/server/models.go
Labels: bug

#235 feat: make the pagination include base models
  api/v1/model_manager_service.pb.go
  api/v1/model_manager_service.proto
  api/v1/model_manager_service.swagger.json
  server/internal/server/models.go
  server/internal/server/models_test.go
  server/internal/store/base_model.go
  server/internal/store/base_model_test.go
Labels: enhancement

#238 feat: add the is_base_model field to Model
  api/v1/model_manager_service.pb.go
  api/v1/model_manager_service.proto
  api/v1/model_manager_service.swagger.json
  dist/api/v1/model_manager_service.pb.d.ts
  server/internal/server/models.go
  ts/api/v1/model_manager_service.pb.ts
Labels: enhancement

#240 chore: make ListModels sort models by model IDs
  server/internal/server/models.go
  server/internal/server/models_test.go
  server/internal/store/base_model.go
  server/internal/store/base_model_test.go
  server/internal/store/model.go
  server/internal/store/model_test.go
Labels: skip-changelog

#243 fix: correctly delete a HFModelRepo
  server/internal/server/hf_model_repos.go
  server/internal/server/models.go
  server/internal/server/models_test.go
  server/internal/store/hf_model_repo.go
  server/internal/store/hf_model_repo_test.go
Labels: bug

#244 feat: add LoadingStatus to Model
  server/internal/server/models.go
  server/internal/store/model.go
  server/internal/store/model_test.go
Labels: enhancement

#245 chore: Delete the ListBaseModels RPC
  api/v1/model_manager_service.proto
  deployments/server/templates/ingress.yaml
  server/internal/server/models.go
  server/internal/server/models_test.go
Labels: skip-changelog

#246 fix: fix the ListModels pagination to exclude loading models with a DB query
  server/internal/server/models.go
  server/internal/store/base_model.go
  server/internal/store/base_model_test.go
Labels: bug

#248 feat(api): support a fine-tuned model creation
  api/v1/model_manager_service.pb.go
  api/v1/model_manager_service.pb.gw.go
  api/v1/model_manager_service.proto
  api/v1/model_manager_service.swagger.json
  api/v1/model_manager_service_grpc.pb.go
  dist/api/v1/model_manager_service.pb.d.ts
  dist/api/v1/model_manager_service.pb.js
  ts/api/v1/model_manager_service.pb.ts
Labels: enhancement

#249 feat: make models unique by model ID and tenant ID
  server/internal/server/models.go
  server/internal/server/models_test.go
  server/internal/store/model.go
  server/internal/store/model_test.go
Labels: enhancement

#250 chore: make downloadAndUploadModel take pathPrefix
  loader/internal/loader/loader.go
Labels: skip-changelog

#252 chore: rename UpdateModel to UpdateModelPublishingStatus
  server/internal/server/models.go
  server/internal/store/model.go
  server/internal/store/model_test.go
Labels: skip-changelog

#253 chore: add functions for uploading loading status
  server/internal/store/model.go
  server/internal/store/model_test.go
Labels: skip-changelog

#254 chore: rename loadModel to loadFromConfig
  loader/internal/loader/loader.go
  loader/internal/loader/loader_test.go
Labels: skip-changelog

#255 chore: make pathPrefix of downloadAndUploadModeli include model ID
  loader/internal/loader/loader.go
  loader/internal/loader/loader_test.go
Labels: skip-changelog

#256 chore: make downloadAndUploadModel take modelPath as a separate argument
  loader/internal/loader/hugging_face_downloader.go
  loader/internal/loader/loader.go
  loader/internal/loader/loader_test.go
  loader/internal/loader/ollama_downloader.go
  loader/internal/loader/s3_downloader.go
Labels: skip-changelog

#257 fix: fix the error handling in loader and logging
  loader/internal/loader/loader.go
Labels: bug

#258 fix: do not exit from the loop when an error happens
  loader/internal/loader/loader.go
Labels: bug

#259 chore: make a bucket argument of s3 client
  loader/cmd/run.go
  loader/internal/loader/loader.go
  loader/internal/loader/loader_test.go
  loader/internal/loader/s3_downloader.go
  loader/internal/loader/s3_downloader_test.go
  loader/internal/s3/client.go
Labels: skip-changelog

#263 feat: add 'ft:' prefix to fine-tuned model ID
  server/internal/server/models.go
  server/internal/server/models_test.go
Labels: enhancement

#265 chore: remove build/experiments
  build/experiments/convert_gguf/Dockerfile
  build/experiments/convert_gguf/convert.py
  build/experiments/convert_gguf/gguf-py/LICENSE
  build/experiments/convert_gguf/gguf-py/README.md
  build/experiments/convert_gguf/gguf-py/examples/reader.py
  build/experiments/convert_gguf/gguf-py/examples/writer.py
  build/experiments/convert_gguf/gguf-py/gguf/__init__.py
  build/experiments/convert_gguf/gguf-py/gguf/constants.py
  build/experiments/convert_gguf/gguf-py/gguf/gguf.py
  build/experiments/convert_gguf/gguf-py/gguf/gguf_reader.py
  build/experiments/convert_gguf/gguf-py/gguf/gguf_writer.py
  build/experiments/convert_gguf/gguf-py/gguf/py.typed
  build/experiments/convert_gguf/gguf-py/gguf/tensor_mapping.py
  build/experiments/convert_gguf/gguf-py/gguf/vocab.py
  build/experiments/convert_gguf/gguf-py/pyproject.toml
  build/experiments/convert_gguf/gguf-py/scripts/__init__.py
  build/experiments/convert_gguf/gguf-py/scripts/gguf-convert-endian.py
  build/experiments/convert_gguf/gguf-py/scripts/gguf-dump.py
  build/experiments/convert_gguf/gguf-py/scripts/gguf-set-metadata.py
  build/experiments/convert_gguf/gguf-py/tests/test_gguf.py
  build/experiments/convert_gguf/requirements.txt
Labels: skip-changelog

#267 feat: support graceful shutdown
  deployments/server/templates/configmap.yaml
  deployments/server/templates/deployment.yaml
  deployments/server/values.schema.json
  deployments/server/values.yaml
  server/cmd/run.go
  server/internal/config/config.go
  server/internal/server/server.go
  server/internal/server/ws_server.go
Labels: enhancement

#268 chore: wrap terminationGracePeriodSeconds with the 'with' clause
  deployments/server/templates/deployment.yaml
  deployments/server/values.schema.json
  deployments/server/values.yaml
Labels: skip-changelog

#269 chore: add config validation for gracefulShutdownDelay
  server/cmd/run.go
  server/internal/config/config.go
Labels: skip-changelog

#270 fix: change the default value of terminationGracePeriodSeconds to unset
  deployments/server/values.schema.json
  deployments/server/values.yaml
Labels: bug
